* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********/

.row::after {
    content: "";
    display: table;
    clear: both;
}
  
.row > * {
    float: left;
}


.col-1_6 {
    width: calc(100% / 6);
}

.col-2_6 {
    width: calc((100% / 6) * 2);
}

.col-4_6 {
    width: calc((100% / 6) * 4);
}

.btn {
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}

.btn-white{
    background-color: white;
    color: #2E3133;
}

.btn-dark{
    background-color: #202225;
    color: white;
}

.btn-purple{
    background-color: #757EB2;
    color: white;
}


.btn-small {
    padding: 0 30px;
}

.btn-big {
    padding: 14px 18px;
}

.align-right{
    text-align: right;
}

.font-small {
    font-size: 15px;
}

.center-block {
    text-align: center;
    margin: 0 auto;
}

.inline-block{
    display: inline-block;
}

.margin {
    margin: 30px auto;
}

.white-text {
    color: white;
}

.pdd-bottom {
    padding-bottom: 50px;
}

/********/



header {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position-y: center;
    padding-bottom: 100px;
}

.container {
    width: 80%;
    margin: auto;
}

nav .row {
    padding-top: 20px;
    line-height: 40px;
}

a img {
    height: 40px;
    vertical-align: middle;
}

ul {
    display: inline-block;
    width: 100%;
}

nav ul {
    text-align: center;
}

ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
    font-size: 20px;
}

ul li a {
    color: white;
    text-decoration: white;
    font-size: 16px;
    
}
header section div p {
    max-width: 55%;
    margin: 0 auto;
}
 
header section {
    padding: 50px;
}

header section h1 {
    font-size: 50px;
}

header section a {
    margin: 0 10px;
}

.col-4_6 img {
   width: 100%;
}

.col-2_6-textbox {
    width: 64%;
    margin: 30px 0;
}

.col-2_6 .col-2_6-textbox h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.container-1 {
    width: 80%;
    margin: 0 auto;
    padding: 120px 0;
}

.container-2 {
    width: 80%;
    margin: 0 auto;
    padding: 120px 0;
}

.row > .float-right {
    float: right;
}

.bg-1 {
    padding-bottom: 0;
}

.bg-2 {
    background-color: #e4e2e2;
    padding-bottom: 0;
}

.text-right {
    margin-left: 30%;
}

.bg-2 .container-1 img.img-full {
    width: 100%;
}

.col-4_6-textbox {
    font-size: 35px;
}

.col-4_6-textbox-2 {
    font-size: 35px;
}

.col-4_6 img.stars {
    position: relative;
    top: 20px;
    width: 80%;
}

footer {
    background-color: #202225;
}

.col-4_6-textbox-3 {
    color: white
}

.col-4_6-textbox-3 h3{
    font-size: 20px;
    margin-bottom: 25px;
    color: #606AAD;
}

footer .col-1_6 ul {
    color: white;
}

footer .col-1_6 ul li{
    display: block;
    margin-bottom: 10px;
    
}

footer .col-1_6 ul:first-child{
    color: #606AAD;
    font-weight: 700;
}

.container-footer {
    padding-top: 30px;
    width: 80%;
    margin: auto;
}

footer .col-2_6 ul {
    color: white;
}

footer .col-4_6-textbox-3 ul li{
    display: inline-block;
    margin: 20px 30px 0 0;
    
}

.bar {
    border-top: 1px solid #404C6C;
    margin-top: 20px;
    padding: 30px 0 100px 0;
    position: relative;
}

.center {
    margin: 35px auto 0 auto;

}

.container-footer1 {
    padding: 30px 0;
    width: 100%;
    display: block;
}

.position-right{
    position: absolute;
    right: 0;
}


.col-4_6-textbox-3 p {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
}

.font-size-btn-small {
    font-size: 16px;
}

.container-footer .col-4_6-textbox-3 img {
    height: 15px;
    margin-right: 6px;
}